<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Sockets</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bodystyle.css')}}">
</head>
<body>
    <p id="picNum">{{picture_number}}</p>
<one-shot></one-shot>

    <script src="{{url_for('static', filename='shot.js')}}"></script>

</body>
</html>